.backgroundImage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.form-control {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.form-text {
  margin-bottom: 15px;
  color: #888;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}